h1, h2, h3, h4, h5 {
    margin: 0 0 20px;
    font-weight: 700;
}

h1, h2, h3, h4 {
    margin-top: 50px;
}

h1 ~ h2, h1 ~ h3, h1 ~ h4 {
    margin-top: 0;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

.page-content > h1 {
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    margin-bottom: 30px;
    line-height: 60px;
    padding-top: 20px;
    margin-top: 0;
}

.flextype-docs-logo {
    padding-bottom: 30px;
    padding-top: 20px;
}

.flextype-docs-logo > h2 {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 3px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.flextype-docs-logo > h3 {
    letter-spacing: 1.1px;
    line-height: 36px;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
}
