h1, h2, h3, h4, h5 {
    margin: 0 0 20px;
    font-weight: 700;
}

h1, h2, h3, h4, h5 {
    margin-top: 40px;
}

h1 ~ div > div > h2:first-of-type,
h1 ~ div > div > h2:first-of-type ~ h4,
h1 ~ div > div > h3:first-of-type,
h1 ~ div > div > h3:first-of-type ~ h4,
h1 ~ div > div > h4:first-of-type,
h1 ~ div > div > h4:first-of-type ~ h4 {
    margin-top: 0;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

.page-content > h1 {
    margin-top: 20px;
    border-bottom: 3px solid #383a42;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 60px;
    padding-top: 0;
}

.flextype-docs-logo {
    padding-bottom: 10px;
}

.flextype-docs-logo > h2 {
    border-bottom: 3px solid #383a42;
    letter-spacing: 1.7px;
    line-height: 60px;
    font-size: 36px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.flextype-docs-logo > h3 {
    letter-spacing: 1.1px;
    line-height: 36px;
    font-size: 20px;
    padding-top: 0;
    margin-top: 6px;
}
