.sidebar {
    background: white;
    color: black;
    min-width: 280px;
    max-width: 280px;
}

.sidebar li {
    border-left: 6px solid white;
    padding-left: 10px;
    margin-left: -16px;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sidebar li:hover,
.sidebar li.active {
    border-left: 6px solid black;
}

.sidebar h4 {
    margin-top: 0!important;
}
