pre {
    background: inherit;
    padding: 0;
}

pre > code {
    padding: 20px!important;
    font-family: "noirpro-light", sans-serif;
    font-size: 18px;
    line-height: 30px;
}

code {
    font-size: 18px;
    line-height: 30px;
    background: black;
    color: white;
    padding: 2px 10px;
    font-family: "noirpro-light", sans-serif;
}

.file-list {
    padding: 20px!important;
    background: black;
    color: white;
    font-family: "noirpro-light", sans-serif;
    margin-bottom: 20px;
    list-style: none;
    margin-left: 0;
}

.file-list i {
    margin-right: 5px;
}

.file-list-level-2 {
    padding-left: 28px;
}

.file-list-level-3 {
    padding-left: 56px;
}

.file-list-level-4 {
    padding-left: 84px;
}

.file-list-level-5 {
    padding-left: 112px;
}

.file-list-level-6 {
    padding-left: 140px;
}

.file-header {
    padding: 8px 20px!important;
    background: black;
    color: white;
    font-family: "noirpro-light", sans-serif;
    border-bottom: 1px solid rgb(39, 39, 39);
}

.file-header > i {
    margin-right: 5px;
}

/* purgecss start ignore */
.hljs {
    position: relative;
}

.hljs:before {
    background: #202020;
    letter-spacing: 1px;
    padding: 7px 12px;
    font-size: 10px;
    line-height: 10px;
    right: 0;
    top: 0;
    position: absolute;
    opacity: 0.8;
}

.hljs.language-plaintext:before {
    content: "COMMAND LINE";
}

.hljs.language-php:before {
    content: "PHP";
}

.hljs.language-yaml:before,
.hljs.yaml:before {
    content: "YAML";
}

.hljs.language-twig:before {
    content: "TWIG";
}

.hljs-shortcode {
    padding: 20px!important;
    font-size: 18px;
    line-height: 30px;
    background: black;
    color: white;
    font-family: "noirpro-light", sans-serif;
    margin-bottom: 20px;
    list-style: none;
    margin-left: 0;
    position: relative;
}

.hljs-shortcode:before {
    background: #202020;
    letter-spacing: 1px;
    padding: 7px 12px;
    font-size: 10px;
    line-height: 10px;
    right: 0;
    top: 0;
    position: absolute;
    opacity: 0.8;
    content: "SHORTCODE";
}

.hljs-shortcode > input {
    background: black;
    text-shadow: 0 0 0 white;
    color: transparent;
    width: 100%;
    outline: none;
    cursor: default;
}

.hljs-shortcode > input:focus {
    outline: none;
}

/* purgecss end ignore */
